  body {font-family: arial;
    text-align: left;
    margin-top: 50px;
    font-size: 20px;
}
.header {font-family: tahoma;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
}
.hero {text-align: center;
    margin-top: 5px;
}
.btn {background: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    border-radius: 20px;
}
.services {padding: 10px;
    text-align: left;
}
footer {font-family: sans-serif;
    text-align: center;
    color: black;
}
@media (max-width: 768px) {
    .hero {
        padding: 40px 10px;
    }   
}